<div class="con-wrap">
    <h2><i></i>发展历史<span>HISTORY</span></h2>
    <section>
        <h3>时间轴<span>TIMELINE</span></h3>
        <ul>
            <li>
                <time>
                    <ins></ins>2012-now<i class="show"></i></time>
                <div>
                    <h4>正式注册为杭州意合工业产品设计有限公司</h4>
                </div>
            </li>
            <li>
                <time>
                    <ins></ins>2010-2012<i class="show"></i></time>
                <div>
                    <h4>为求发展公司扩大规模搬迁至元古创意园区，并发展出多个部门：品牌策划部,产品设计部，结构设计部，模具制造部。 　</h4>
                </div>
            </li>
            <li>
                <time>
                    <ins></ins>2009-2010<i class="show"></i></time>
                <div>
                    <h4>公司以工作室形式发展；年底正式注册为杭州意合工业产品设计有限公司</h4>
                </div>
            </li>
            <li>
                <time>
                    <ins></ins>2007-2008<i class="show"></i></time>
                <div>
                    <h4>公司筹备阶段</h4>
                </div>
            </li>
        </ul>
    </section>
</div>
