<div class="con-wrap">
    <h2><i></i>SERVICES<span>服务领域</span></h2>
    <section>
        <h3><i class="serv-ico1"></i>产品设计</h3>
        <p>概念设计，产品设计，产品设计策略，产品形象识别</p>
    </section>
    <section class="mr0">
        <h3><i class="serv-ico2"></i>结构设计</h3>
        <p>概念设计，产品设计，产品设计策略，产品形象识别,结构设计，工艺分析，
            <br>手板制作</p>
    </section>
    <section>
        <h3><i class="serv-ico3"></i>品牌设计</h3>
        <p>概念设计，产品设计，产品设计策略，产品形象识别,结构设计，工艺分析，
            <br>手板制作</p>
    </section>
    <section class="mr0">
        <h3><i class="serv-ico4"></i>生产服务</h3>
        <p>概念设计，产品设计，产品设计策略，产品形象识别,结构设计，工艺分析，
            <br>手板制作,模具制造，钣金制作，产品批量生产</p>
    </section>
</div>
