<div class="con-wrap">
    <h2>联系我们</h2>
    <p>我们是一家以创新为核心的工业设计服务机构</p>
    <p>我们通过专业的流程高效的执行为客户提供高品质的产品解决方案</p>
    <form action="">
        <label for="user-name" class="firlabel">
            姓名：
            <input type="text" id="user-name">
        </label>
        <label for="suer-contact">
            联系方式：
            <input type="text" id="suer-contact">
        </label>
        <label for="user-msg" class="msg">留言内容：
            <textarea name="" id="user-msg" cols="30" rows="10"></textarea>
        </label>
        <button type="submit">发表留言</button>
        <button type="reset" class="reset">重新填写</button>
        <span class="prompt"></span>
    </form>
</div>
<div id="l-map"></div>