<div class="con-wrap">
    <h2><i></i>设计案例<span>CASE</span></h2>
    <ul>
        <li>
            <a href="#"><img src="../../images/an1.jpg">
                <div class="bg"></div>
                <div>
                    <h4><span>ICGO</span><br>设计案例名</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="#"><img src="../../images/an2.jpg">
                <div class="bg"></div>
                <div>
                    <h4><span>ICGO</span><br>设计案例名</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="#"><img src="../../images/an3.jpg">
                <div class="bg"></div>
                <div>
                    <h4><span>ICGO</span><br>设计案例名</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="#"><img src="../../images/an4.jpg">
                <div class="bg"></div>
                <div>
                    <h4><span>ICGO</span><br>设计案例名</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="#"><img src="../../images/an5.jpg">
                <div class="bg"></div>
                <div>
                    <h4><span>ICGO</span><br>设计案例名</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="#"><img src="../../images/an6.jpg">
                <div class="bg"></div>
                <div>
                    <h4><span>ICGO</span><br>设计案例名</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="#"><img src="../../images/an7.jpg">
                <div class="bg"></div>
                <div>
                    <h4><span>ICGO</span><br>设计案例名</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="#"><img src="../../images/an8.jpg">
                <div class="bg"></div>
                <div>
                    <h4><span>ICGO</span><br>设计案例名</h4>
                </div>
            </a>
        </li>
    </ul>
</div>
