<div class="con-wrap">
    <h2><i></i>ABOUT</h2>
    <section class="intro">
        <h3>公司简介</h3>
        <p>意合设计是一家以创新为核心的工业设计服务机构，我们杜绝自吹自擂、满口术语的设计理念，我们坚持以严谨务实的态度，专业完整的流程，高效强劲的执行为你提供高品质的产品解决方案，从一个原始粗暴的想法，到制造一个完美的产品，到一个品牌的推广，我们为你跨越中间所有的距离。</p>
    </section>
    <section class="info">
        <h3>公司信息<span>COMPANY INFO</span></h3>
        <table>
            <tbody>
                <tr>
                    <th>公司地址</th>
                    <td>杭州市拱墅区长乐路29号元谷创意园长乐园2幢208</td>
                </tr>
                <tr>
                    <th>邮箱地址</th>
                    <td>hzyihe@163.com</td>
                </tr>
                <tr>
                    <th>电话/传真</th>
                    <td>0571-87758397</td>
                </tr>
                <tr>
                    <th>网站地址</th>
                    <td>http://www.yiheidea.com</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
